.profile-container {
  width: 100%;
  background-color: #f8f8f8;
}
.profile-info {
  text-align: center;
  padding: 3rem 0;
  background-image: url(../../assets/file-background.avif);
  background-position: center;
  background-color: #282c34;
}
.profile-image {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #c70039;
  border-radius: 50%;
  background-color: #373b44;
  margin: 0 auto;
}
.user-initial {
  margin: 0;
  font-size: 3rem;
  color: #fff;
}
.profile-user-name {
  color: #c70039;
  background-color: #f8f8f8;
  font-size: 2.5rem;
  margin: 0.5rem auto;
}

.update-profile-link {
  background-color: #f8f8f8;
  padding: 0.1rem 2rem;
  text-decoration: underline;
  background-color: #282c34;
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
  font-style: italic;
}

.documents-wrapper {
  padding: 2rem;
}
.my-documents-header {
  color: #12121a;
  font-size: 2rem;
  margin: 1rem auto 3rem auto;
  text-align: center;
}
.documents-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.document-card {
  background-color: #282c34;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #c70039;
  margin-bottom: 2rem;
}
.document-image {
  width: 300px;
  height: 160px;
  margin-bottom: 1.2rem;
  background-color: #373b44;
  border-radius: 8px;
  background-image: url(../../assets/document-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.profile-image svg {
  width: 60px;
  height: 60px;
  color: #fff;
}
.expand-icon {
  color: #fff;
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  cursor: pointer;
}
.document-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #fff;
}
.document-name {
  width: 70%;
  margin: 0;
  font-weight: 700;
  border: none;
}
.delete-icon {
  cursor: pointer;
}

.no-documents-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.no-documents-container h2 {
  color: #c70039;
}
