.update-profile-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  background-color: #f8f8f8;

  .form-container {
    width: 50%;
    text-align: center;
    padding: 2.5rem 1.5rem;
    margin: 2rem auto;
    border: 2px solid #c70039;
    border-radius: 5px;

    .update-profile-form {
      margin: 2rem auto 0 auto;
      width: 60%;
      display: flex;
      flex-direction: column;
      .input-field {
        margin-bottom: 1.5rem;
      }
      .update-profile-btn {
        background-color: #c70039;
        margin-bottom: 2rem;
      }
      .link {
        color: gray;
        width: fit-content;
        margin: 0 auto;
      }
    }
  }
}
